body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #000000, #2a5298);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeSlideUp 0.9s ease forwards;
}

.login-box {
  background: #eceff1;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 50px;
  color: #0058fc;
  font-style: italic;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #1e3c72;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  margin-top: 10px;
}

.login-box button:hover {
  background: #16305a;
}

.login-logo {
  width: 250px;
  height: 200px;
}
@keyframes fadeSlideUpL {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.remember-box {
  display: flex;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
}
.remember-box label {
  white-space: nowrap;
  color: #1e3c72;
}
.error {
  background: #ffe6e6;
  color: #d8000c;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}
