.adminContainer {
  padding: 30px;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

.adminGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.adminCard {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
